/** { 
padding : 0;
margin : 0;
    color: #3366FF;
    text-align: left;
    font-size: small;
    font-weight: 700;
}*/ 
body { 
font-family : Verdana, Arial, Helvetica, sans-serif;
font-size : 13px;
background-image : url(images/bgpage.gif);
background-repeat : repeat-x;
background-color : #000000;
} 
#wrapper { 
margin : 5px auto 5px auto;
width : 790px;
} 
img { 
padding : 2px;
border : 1px solid #caff7a;
} 
img.floatTL { 
float : left;
margin-right : 10px;
margin-bottom : 5px;
margin-top : 10px;
margin-left : 5px;
} 
img.floatTR { 
float : right;
margin-left : 7px;
margin-bottom : 0;
margin-top : -2px;
margin-right : 10px;
} 
.clear { 
clear : both;
} 
#header { 
color : #333;
width : 790px;
float : left;
padding : 0;
height : 100px;
background : url(images/header791.gif) no-repeat;
} 
.logo { 
margin-top : 15px;
margin-right : 10px;
float : right;
background-image : url(images/gnome-globe.png);
background-repeat : no-repeat;
background-position : right 0%;
height : 70px;
} 
.logo h1#lineone { 
font-size : 1.7em;
font-weight : lighter;
font-family : helvetica, arial, sans-serif;
padding-top : 10px;
padding-left : 5px;
color : #8cbbff;
border : none;
top : 0;
left : 14px;
letter-spacing : -1px;
margin-right : 70px;
margin-top : 5px;
} 
.logo h1#lineone span { 
color : #006699;
} 
.logo h2#linetwo { 
padding-left : 5px;
font-size : 0.9em;
font-family : helvetica, arial, sans-serif;
text-transform : none;
padding-left : 35px;
color : #006699;
} 
#navigation { 
float : left;
width : 790px;
color : #333;
margin : 0 0 0 0;
background : #fff;
} 
.menu { 
margin-left : 10px;
background : #fff url(images/navbar.gif) no-repeat;
width : 770px;
height : 40px;
} 
.menu ul { 
list-style : none;
padding : 7px 0 10px 0;
margin : 0;
text-align : center;
padding: 12px 0em 10px 0em;} 
.menu li { 
padding : 0 1em 0 1em;
display : inline;
} 
.menu li a { 
color : #002870;
font-weight : bold;
text-decoration : none;
font-size : 1em;
} 
.menu li a:hover { 
color : #e78229;
text-decoration : none;
} 
#leftcolumn { 
color : #333;
background : #111;
margin : 0 0 0 0;
padding : 10px;
padding-right:0px;
width : 150px;
float : left;
} 
#leftbox, #leftbox-2 { 
width : 190px;
min-height : 136px;
color : #ffffff;
padding : 0;
margin : 0;
float : left;
display : inline;
background-image : url(images/graybox-l.png);
background-repeat : no-repeat;
} 
#leftbox-2 { 
margin-top : 15px;
} 
#leftboxbottom, #leftboxbottom-2 { 
height : 15px;
width : 190px;
float : left;
display : inline;
background-image : url(images/graybox-s.png);
background-repeat : no-repeat;
} 
.col-l { 
width : 160px;
float : left;
padding : 10px 0 8px 10px;
} 
.col-l p { 
margin : 11px 0 0 0;
padding : 0;
margin : 11px 0 0 10px;
color : #767676;
} 
.col-l a { 
color : #e78229;
} 
.col-l ul { 
display : list-item;
list-style-type : none;
} 
.col-l li { 
padding-top : 5px;
padding-bottom : 3px;
border-bottom : 1px dotted #336699;
} 
.col-l li a { 
color : #336699;
text-decoration : none;
} 
.col-l li a:hover { 
color : #8eb88f;
} 
#rightcolumn { 
float : right;
color : #333;
color:White;
background : #fff;
margin : 0 0 0 0;
padding : 0;
height:100%;
width : 640px;
display : inline;
} 
#rightcolumnadmin { 
float : right;
color : #333;

background : #fff;
margin : 0 0 0 0;
padding : 20px;;
height : 100%;
width : 790px;
display : inline;
} 
blockquote { 
margin-top : 14px;
margin-left : 20px;
margin-right : 20px;
margin-bottom : 15px;
text-align : justify;
color : #5376a3;
} 
#doublebox { 
margin-top : 5px;
margin-bottom : 10px;
width : 565px;
} 
.content_right { 
display : inline;
float : right;
width : 200px;
text-align : justify;
margin-right : 5px;
margin-top : 0;
padding-right : 5px;
padding-top : 0;
line-height : 1.5em;
background : url(images/gradboxs.jpg) no-repeat;
} 
.content_rightbot { 
height : 11px;
width : 200px;
background : url(images/gradboxsbottom.jpg) no-repeat;
float : left;
display : inline;
} 
.content_left { 
margin : 0 auto;
display : inline;
float : left;
width : 350px;
text-align : justify;
line-height : 1.5em;
background : url(images/gradboxb.jpg) no-repeat;
} 
.content_leftbot { 
height : 11px;
width : 350px;
background : url(images/gradboxbbot.jpg) no-repeat;
float : left;
display : inline;
} 
.content_left p, .content_right p { 
padding : 5px;
} 
.content_left a { 
float : right;
padding-right : 5px;
color : #ec845b;
} 
.content_right a { 
float : right;
padding-right : 5px;
color : #ec845b;
} 
.content_left h3 { 
padding-left : 5px;
padding-top : 10px;
margin-bottom : 5px;
color : #ec845b;
font-size : 1.2em;
} 
.content_right h3 { 
padding-left : 5px;
padding-top : 10px;
margin-bottom : 5px;
color : #ec845b;
font-size : 1.2em;
} 
.clear { 
clear : both;
} 
h4 { 
color : #80a0ea;
} 
#triplebox { 
width : 560px;
min-height : 136px;
background : url(images/bluebox.jpg) no-repeat;
font-size : 0.75em;
color : #e1e1e1;
padding : 0;
float : left;
display : inline;
margin-top : 20px;
margin-left : 0;
color : #878787;
} 
.col { 
width : 160px;
float : left;
margin-left : 1em;
padding : 5px 0 8px 0;
margin-top : 1.2em;
text-align : justify;
background-repeat : repeat-x;
margin-left : 2em;
margin-top : 1.3em;
} 
.col p { 
margin : 11px 0 0 0;
padding : 5px;
} 
#tripleboxbottom { 
height : 11px;
width : 560px;
background-image : url(images/blueboxbottom.jpg);
margin-bottom : 5px;
} 
#footer { 
width : 790px;
clear : both;
height : 40px;
background : url(images/footer790.gif) no-repeat bottom;
margin : 0 0 0 0;
padding-left : 10px;
padding-right : 10px;
} 
#footer p { 
margin : 0;
padding-top : 5px;
text-align : center;
line-height : normal;
font-size : xx-small;
} 
#footer a { 
text-decoration : underline;
color : #e78229;
} 
#footer a:hover { 
text-decoration : none;
}

.navbar-default {
    background-color: #CC0000;
    border-color: #AA0000;
    border-radius: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #AA0000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #AA0000;
}

.navbar-default .navbar-text {
    color: #FFF;
}

.navbar-default .navbar-toggle {
    border-color: #AA0000;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #AA0000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}


.sidenav {
  height: 100%;
  width: 100px;
  position: relative;  
  background-color: #111;
  overflow-x: hidden;
  overflow-y:hidden;
  
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 10px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}



.navbar1 {
  overflow: hidden;
  background-color: #333; 
}

.navbar1 a {
  float: left;
  font-size: 10px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.subnav1 {
  float: left;
  overflow: hidden;
}

.subnav1 .subnavbtn1 {
  font-size: 10px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar1 a:hover, .subnav1:hover .subnavbtn1 {
  background-color: red;
}

.subnav-content1 {
  display: none;
  position: absolute;
  left: 270;
  background-color: red;
  width: 59%;
  z-index: 1;
  
}

.subnav-content1 a {
  float: left;
  color: white;
  text-decoration: none;
  
}

.subnav-content1 a:hover {
  background-color: #eee;
  color: black;
}

.subnav1:hover .subnav-content1 {
  display: block;
}





.table-condensed tr th {
border: 0px solid #6e7bd9;
color: white;
background-color: #1b1b1b;
}

.table-condensed, .table-condensed tr td {
border: 0px solid #000;
}

.table-condensed tr:nth-child(even) {
background: #f8f7ff
}

.table-condensed tr:nth-child(odd) {
background: #fff;
}

ul.test li {
    font-weight:normal;color:black;font-size:10px;padding:1px;
}


.MyCalendar .ajax__calendar_container {
    border:1px solid #646464;
    background-color: lemonchiffon;
    color: red;
}
.MyCalendar .ajax__calendar_other .ajax__calendar_day,
.MyCalendar .ajax__calendar_other .ajax__calendar_year {
    color: black;
}
.MyCalendar .ajax__calendar_hover .ajax__calendar_day,
.MyCalendar .ajax__calendar_hover .ajax__calendar_month,
.MyCalendar .ajax__calendar_hover .ajax__calendar_year {
    color: black;
}
.MyCalendar .ajax__calendar_active .ajax__calendar_day,
.MyCalendar .ajax__calendar_active .ajax__calendar_month,
.MyCalendar .ajax__calendar_active .ajax__calendar_year {
    color: black;
    font-weight:bold;
}